> **Requirement**: Load semua library dengan statment berikut :

In [ ]:
%classpath add jar libs/*

In [3]:
%%classpath add mvn
tech.tablesaw tablesaw-jsplot 0.37.0

In [5]:
//import data 12181638.csv ke dataframe

import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  dfSmallgrade= Table.read().csv("datasets/12181638.csv");
System.out.println(dfSmallgrade.structure());
System.out.println(dfSmallgrade.shape());
System.out.println(dfSmallgrade.first(5));
System.out.println(dfSmallgrade.last(5));
System.out.println(dfSmallgrade.print());

package tech.tablesaw.beakerx does not exist: package tech.tablesaw.beakerx does not exist

In [6]:
//import data 12181638.json ke dataframe

import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
JsonReader reader = new JsonReader();
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/12181638.json").build();
Table tabeljson = reader.read(fileJSON);
System.out.println(tabeljson.structure());
System.out.println(tabeljson.print());

//export data 12181638.json ke lahandibakar.csv
tabeljson.write().csv("datasets/data_kepuasan.csv");

package tech.tablesaw.io.json does not exist: package tech.tablesaw.io.json does not exist

In [10]:
//soal no.1 menggabungkan data 12181641.csv dan 12181641.json

import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  data1= Table.read().csv("datasets/12181641.csv");
Table  data2= Table.read().csv("datasets/lahandibakar.csv");

Table datagabung = data1.append(data2);
System.out.print(datagabung.print());

//export dataframe datagabung ke fulllahandibakar.csv
datagabung.write().csv("datasets/lahandibakarfull.csv");

                                                                            12181641.csv
 _id  |  idx  |             series             |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |                  Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |                       ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |             SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |             SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |                       RIAU  |   2008  |            |         |           |    13729.2  |          |
   6  |    5  |  Luas Lahan yang Dibakar (Ha)  |            15  |                      JAMBI  |   2008  |            |         |           |    11264.7  |          |
   7  |    6  |  Luas Lahan yang Dibakar (Ha)  |            16  |           SUMATERA SELATAN  |   2008  |            |         |           |    39692.5  |          |
   8  |    7  |  Luas Lahan yang Dibakar (Ha)  |            17  |                   BENGKULU  |   2008  |            |         |           |     7676.7  |          |
   9  |    8  |  Luas Lahan yang Dibakar (Ha)  |            18  |                    LAMPUNG  |   2008  |            |         |           |    56679.1  |          |
  10  |    9  |  Luas Lahan yang Dibakar (Ha)  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2008  |            |         |           |     7790.3  |          |
 ...  |  ...  |                           ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |        ...  |     ...  |
 380  |  379  |  Luas Lahan yang Dibakar (Ha)  |          6471  |            KOTA BALIKPAPAN  |   2008  |            |         |           |       37.6  |          |
 381  |  380  |  Luas Lahan yang Dibakar (Ha)  |          6472  |             KOTA SAMARINDA  |   2008  |            |         |           |             |          |
 382  |  381  |  Luas Lahan yang Dibakar (Ha)  |          6473  |               KOTA TARAKAN  |   2008  |            |         |           |       30.9  |          |
 383  |  382  |  Luas Lahan yang Dibakar (Ha)  |          6474  |               KOTA BONTANG  |   2008  |            |         |           |             |          |
 384  |  383  |  Luas Lahan yang Dibakar (Ha)  |          7101  |          BOLAANG MONGONDOW  |   2008  |            |         |           |     1413.2  |          |
 385  |  384  |  Luas Lahan yang Dibakar (Ha)  |          7102  |                   MINAHASA  |   2008  |            |         |           |        154  |          |
 386  |  385  |  Luas Lahan yang Dibakar (Ha)  |          7103  |          KEPULAUAN SANGIHE  |   2008  |            |         |           |      151.6  |          |
 387  |  386  |  Luas Lahan yang Dibakar (Ha)  |          7104  |           KEPULAUAN TALAUD  |   2008  |            |         |           |      370.3  |          |
 388  |  387  |  Luas Lahan yang Dibakar (Ha)  |          7105  |           MINAHASA SELATAN  |   2008  |            |         |           |      175.5  |          |
 389  |  388  |  Luas Lahan yang Dibakar (Ha)  |          7106  |             MINAHASA UTARA  |   2008  |            |         |           |     1006.3  |          |

null

In [5]:
//Soal no 2. Analisis Data

import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  dataFull= Table.read().csv("datasets/lahandibakarfull.csv");

System.out.println(dataFull.print());
System.out.println();

//menampilkan jumlah baris yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", count).apply());
System.out.println();

//menampilkan jumlah total yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", sum).apply());
System.out.println();

//menampilkan data terbesar yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", max).apply());
System.out.println();

//menampilkan data terkecil yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", min).apply());
System.out.println();

//menampilkan nilai tengah yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", median).apply());
System.out.println();

//menampilkan nilai simpangan baku yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", standardDeviation).apply());
System.out.println();

//menampilkan nilai variance yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", variance).apply());
System.out.println();

//menampilkan sebaran nilai range yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", range).apply());
System.out.println();


//menampilkan seluruh summary yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", count, sum, max, min, mean, range, median, variance, standardDeviation).apply());
System.out.println();

//menampilkan seluruh summary yang ada di dataframe
System.out.println(dataFull.column("nilai").summary().print());
System.out.println();

                                                                        lahandibakarfull.csv
 _id  |  idx  |             series             |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |                  Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |                       ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |             SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |             SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |                       RIAU  |   2008  |            |         |           |    13729.2  |          |
   6  |    5  |  Luas Lahan yang Dibakar (Ha)  |            15  |                      JAMBI  |   2008  |            |         |           |    11264.7  |          |
   7  |    6  |  Luas Lahan yang Dibakar (Ha)  |            16  |           SUMATERA SELATAN  |   2008  |            |         |           |    39692.5  |          |
   8  |    7  |  Luas Lahan yang Dibakar (Ha)  |            17  |                   BENGKULU  |   2008  |            |         |           |     7676.7  |          |
   9  |    8  |  Luas Lahan yang Dibakar (Ha)  |            18  |                    LAMPUNG  |   2008  |            |         |           |    56679.1  |          |
  10  |    9  |  Luas Lahan yang Dibakar (Ha)  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2008  |            |         |           |     7790.3  |          |
 ...  |  ...  |                           ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |        ...  |     ...  |
 380  |  379  |  Luas Lahan yang Dibakar (Ha)  |          6471  |            KOTA BALIKPAPAN  |   2008  |            |         |           |       37.6  |          |
 381  |  380  |  Luas Lahan yang Dibakar (Ha)  |          6472  |             KOTA SAMARINDA  |   2008  |            |         |           |             |          |
 382  |  381  |  Luas Lahan yang Dibakar (Ha)  |          6473  |               KOTA TARAKAN  |   2008  |            |         |           |       30.9  |          |
 383  |  382  |  Luas Lahan yang Dibakar (Ha)  |          6474  |               KOTA BONTANG  |   2008  |            |         |           |             |          |
 384  |  383  |  Luas Lahan yang Dibakar (Ha)  |          7101  |          BOLAANG MONGONDOW  |   2008  |            |         |           |     1413.2  |          |
 385  |  384  |  Luas Lahan yang Dibakar (Ha)  |          7102  |                   MINAHASA  |   2008  |            |         |           |        154  |          |
 386  |  385  |  Luas Lahan yang Dibakar (Ha)  |          7103  |          KEPULAUAN SANGIHE  |   2008  |            |         |           |      151.6  |          |
 387  |  386  |  Luas Lahan yang Dibakar (Ha)  |          7104  |           KEPULAUAN TALAUD  |   2008  |            |         |           |      370.3  |          |
 388  |  387  |  Luas Lahan yang Dibakar (Ha)  |          7105  |           MINAHASA SELATAN  |   2008  |            |         |           |      175.5  |          |
 389  |  388  |  Luas Lahan yang Dibakar (Ha)  |          7106  |             MINAHASA UTARA  |   2008  |            |         |           |     1006.3  |          |

lahandibakarfull.csv summary
 Count [nilai]  |
-----------------
           304  |

lahandibakarfull.csv summary
 Sum [nilai]  |
---------------
   5479717.6  |

lahandibakarfull.csv summary
 Max [nilai]  |
---------------
   1857348.3  |

lahandibakarfull.csv summary
 Min [nilai]  |
---------------
         0.3  |

lahandibakarfull.csv summary
 Median [nilai]  |
------------------
          696.8  |

lahandibakarfull.csv summary
 Std. Deviation [nilai]  |
--------------------------
       143475.317048432  |

lahandibakarfull.csv summary
  Variance [nilai]   |
----------------------
 20585166602.148083  |

lahandibakarfull.csv summary
 Range [nilai]  |
-----------------
       1857348  |

                                                                         lahandibakarfull.csv summary
 Count [nilai]  |  Sum [nilai]  |  Max [nilai]  |  Min [nilai]  |     Mean [nilai]     |  Range [nilai]  |  Median [nilai]  |   Variance [nilai]   |  Std. Deviation [nilai]  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
           304  |    5479717.6  |    1857348.3  |          0.3  |  18025.386842105272  |        1857348  |           696.8  |  20585166602.148083  |        143475.317048432  |

      Column: nilai
 Measure   |    Value    |
--------------------------
        n  |        389  |
      sum  |             |
     Mean  |             |
      Min  |        0.3  |
      Max  |  1857348.3  |
    Range  |    1857348  |
 Variance  |             |
 Std. Dev  |             |

null

In [19]:
%%html

In [23]:
import tech.tablesaw.api.Table;
import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.traces.HistogramTrace;


    Table dataFull = Table.read().csv("lahandibakarfull.csv");

    Layout layout = Layout.builder().title("Nilai Pembakaran Lahan suatu Wilayah").build();

    HistogramTrace trace = HistogramTrace.builder(dataFull.nCol("Pendapatan")).build();

    Plot.show(new Figure(layout, trace));

ERROR:  java.lang.NoClassDefFoundError